<div class="container">
  <div class="home-title">
    <h1 class="text-center">Course Statistics</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="block" routerLink="/Rank-courses">
        <div class="text-center">
          <h2>Course Ranking</h2>
        </div>
        <div class="description">
          <p class="text-center">Click here to view the Course ranking statistic</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block">
        <div class="text-center" routerLink="/most-popular-course">
          <h2>Most popular Course</h2>
        </div>
        <div class="description">
          <p class="text-center">Click here to view the Most popular course statistic</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block">
        <div class="text-center" routerLink="/exam-midterm">
          <h2>Exam/Midterm</h2>
        </div>
        <div class="description">
          <p class="text-center">Click here to view the Exam/Midterm statistic</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block">
        <div class="text-center" routerLink="/courseStatistic/courseCompletion">
          <h2>Course completition</h2>
        </div>
        <div class="description">
          <p class="text-center">Click here to view the Course completition % statistic</p>
        </div>
      </div>
    </div>
  </div>
</div>
