<div class="container">
    <div class="home-title">
      <h1 class="text-center">Student Statistics</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="block" routerLink="/studentStatistic/genderStatistic">
          <div class="text-center">
            <h2>Gender Statistic</h2>
          </div>
          <div class="description">
            <p class="text-center">Click here to view Gender distribution</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="block" routerLink="/studentStatistic/nationalityStatistic">
          <div class="text-center">
            <h2>Nationality statistic</h2>
          </div>
          <div class="description">
            <p class="text-center">Click here to view Nationality statistics</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="block" routerLink="/student-degree">
          <div class="text-center">
            <h2>Degree statistic</h2>
          </div>
          <div class="description">
            <p class="text-center">Click here to view Degree statistics</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block" routerLink="/top-performing-students">
          <div class="text-center">
            <h2>Performance statistic</h2>
          </div>
          <div class="description">
            <p class="text-center">Click here to view Performance statistics</p>
          </div>
        </div>
      </div>
    </div>
  </div>
