.error-container {
  text-align: center;
  margin-top: 25rem;
}

.error-heading {
  font-size: 64px;
  margin-top: 20px;
}

.error-message {
  font-size: 25px;
  margin-top: 10px;
}

.btn-primary {
  font-size: 20px;
  margin-top: 20px;
}
