<div class="container">
    <div class="home-title">
      <h1 class="text-center">Training Statistics</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="block" routerLink="/TrainingStatistics/Students_x_year">
          <div class="text-center">
            <h2>Student Distribution</h2>
          </div>
          <div class="description">
            <p class="text-center">Click here to view Student distribution at each year</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block" routerLink="/avg-cred-org">
          <div class="text-center">
            <h2>Average Credit Organization</h2>
          </div>
          <div class="description">
            <p class="text-center">Click here to view Average credit per organization at each year</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block" routerLink="/grades-per-training">
          <div class="text-center">
            <h2>Grades Per Training</h2>
          </div>
          <div class="description">
            <p class="text-center">Click here to view Grades Per Training statistic</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block"  routerLink="/avg-cred-org">
          <div class="text-center">
            <h2>Avrage credit</h2>
          </div>
          <div class="description">
            <p class="text-center">Click here to view the Avrage Credit/Organization</p>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="block"  routerLink="/grades-per-training">
          <div class="text-center">
            <h2>Avrage Grade</h2>
          </div>
          <div class="description">
            <p class="text-center">Click here to view the Avrage Grade/Training statistic</p>
          </div>
        </div>

      </div>
    </div>
</div>
