<div class="top-performing-students">
  <h1>Top Performing Students</h1>
  <div class="card-container">
    <div class="top-row">
      <div class="spacer"></div>
      <div class="card" data-number="1">
        <div class="tile">
          <div class="tile-number">1</div>
          <div class="tile-info">
            <div class="tile-name">{{ topStudents[0].name }}</div>
            <div class="tile-average">Average: {{ topStudents[0].averageGrade }}</div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="bottom-row">
      <div class="spacer"></div>
      <div class="card" data-number="2">
        <div class="tile">
          <div class="tile-number">2</div>
          <div class="tile-info">
            <div class="tile-name">{{ topStudents[1].name }}</div>
            <div class="tile-average">Average: {{ topStudents[1].averageGrade }}</div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="card" data-number="3">
        <div class="tile">
          <div class="tile-number">3</div>
          <div class="tile-info">
            <div class="tile-name">{{ topStudents[2].name }}</div>
            <div class="tile-average">Average: {{ topStudents[2].averageGrade }}</div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>
