<div class="container">
  <div class="home-title">
    <h1 class="text-center">Teacher Statistics</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="block" routerLink="/ranks-teachers">
        <div class="text-center">
          <h2>Teacher Ranking</h2>
        </div>
        <div class="description">
          <p class="text-center">Click here to view the Teacher ranking statistic</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block">
        <div class="text-center" routerLink="/courses-teacher-stat">
          <h2>Course teacher Course</h2>
        </div>
        <div class="description">
          <p class="text-center">Click here to view the Course teacher statistic</p>
        </div>
      </div>
    </div>
  </div>
</div>
